<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AddTableControls.Properties.Settings.myDBConnectionString"
            connectionString="Data Source=|DataDirectory|\myDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="AddTableControls.Properties.Settings.buckyConnectionString"
            connectionString="Data Source=A-DMVAKH-W500\DIMSQL;Initial Catalog=bucky;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>